<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/static/styles/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/styles/style.css' />
    <script src='/static/scripts/bootstrap.bundle.min.js' defer></script>
    <title>Project Details</title>
  </head>
  <body>
    <header class='navbar navbar-expand-lg shadow-sm'>
      <nav class='container py-1 px-0 mx-3 mx-md-auto'>
        <button
          class='navbar-toggler'
          type='button'
          data-bs-toggle='collapse'
          data-bs-target='#navbar'
          aria-controls='navbar'
          aria-expanded='false'
          aria-label='Toggle navigation'
        >
          <span class='navbar-toggler-icon'></span>
        </button>

        <a class='navbar-brand' href='../'>
          <img src='../static/assets/images/dumbways.png' alt='' />
        </a>

        <div class='collapse navbar-collapse' id='navbar'>
          <ul class='navbar-nav me-auto mb-2 mb-lg-0 ms-3'>
            <li class='nav-item'>
              <a
                class='nav-link text-white'
                aria-current='page'
                href='../'
              >Home</a>
            </li>
            <li class='nav-item'>
              <a class='nav-link text-white' href='../project'>Add Project</a>
            </li>
          </ul>

          <a
            href='../contact'
            class='action-button d-flex align-items-center'
          >Contact
            <div class='icon d-flex align-items-center justify-content-center'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
              >
                <path
                  d='M14.89 23.654c-7.367 3.367-18.802-18.86-11.601-22.615l2.107-1.039 3.492 6.817-2.082 1.026c-2.189 1.174 2.37 10.08 4.609 8.994.091-.041 2.057-1.007 2.064-1.011l3.521 6.795c-.008.004-1.989.978-2.11 1.033zm-1.538-13.409l2.917.87c.223-.747.16-1.579-.24-2.317-.399-.739-1.062-1.247-1.808-1.469l-.869 2.916zm1.804-6.058c1.551.462 2.926 1.516 3.756 3.051.831 1.536.96 3.263.498 4.813l-1.795-.535c.325-1.091.233-2.306-.352-3.387-.583-1.081-1.551-1.822-2.643-2.146l.536-1.796zm.95-3.187c2.365.705 4.463 2.312 5.729 4.656 1.269 2.343 1.466 4.978.761 7.344l-1.84-.548c.564-1.895.406-4.006-.608-5.882-1.016-1.877-2.696-3.165-4.591-3.729l.549-1.841z'
                ></path>
              </svg>
            </div>
          </a>
        </div>
      </nav>
    </header>

    <main class='container my-5'>
      <h2 class='fw-bold'>Blog App</h2>

      <div class='row mb-5'>
        <div class='col-12 col-md-8 mb-5 mb-md-0'>
          <img
            class='w-100 rounded-4'
            src='/static/assets/images/project-1.png'
            alt=''
          />
        </div>
        <div class='col-12 col-md-4'>
          <div class='d-flex flex-column flex-sm-row flex-md-column gap-3'>
            <div class='wrapper'>
              <h5 class='fw-bold'>Duration</h5>

              <div class='d-flex flex-column gap-2'>
                <div class='d-flex align-items-center gap-2'>
                  <img src='/static/assets/icons/calendar.svg' alt='' />
                  <span>6 April 2022 - 6 Jul 2022</span>
                </div>

                <div class='d-flex align-items-center gap-2'>
                  <img src='/static/assets/icons/time.svg' alt='' />
                  <span>2 months</span>
                </div>
              </div>
            </div>

            <div class='wrapper'>
              <h5 class='fw-bold'>Technologies</h5>

              <div class='row'>
                <div class='col-6 col-md-12 col-lg-6 mb-2'>
                  <div class='d-flex align-items-center gap-2'>
                    <img src='/static/assets/icons/nextjs.svg' alt='' />
                    <span>NextJS</span>
                  </div>
                </div>

                <div class='col-6 col-md-12 col-lg-6 mb-2'>
                  <div class='d-flex align-items-center gap-2'>
                    <img src='/static/assets/icons/mui.svg' alt='' />
                    <span>Material UI</span>
                  </div>
                </div>

                <div class='col-6 col-md-12 col-lg-6 mb-2'>
                  <div class='d-flex align-items-center gap-2'>
                    <img src='/static/assets/icons/graphql.svg' alt='' />
                    <span>GraphQL</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam porro
        commodi magnam enim inventore temporibus, minus dolorum dolor eaque
        ipsam quidem non? Illo nihil, placeat, eius facilis aliquid totam sit
        distinctio perferendis maxime consequuntur assumenda nemo dignissimos
        repellendus inventore a facere nostrum ad exercitationem modi repellat
        nisi nesciunt incidunt. Ab nisi, sed inventore similique optio, harum,
        deleniti eius quam nemo iure quod? Voluptatibus qui ab ipsum inventore,
        pariatur aperiam enim, sint voluptas et deserunt consectetur porro
        exercitationem iusto dicta eius. Repellat corrupti facere ipsam ducimus
        alias accusamus eveniet vitae! Cupiditate atque tenetur, possimus a
        doloribus mollitia quas repellat in consequuntur dolorum temporibus
        exercitationem veritatis officiis iste error incidunt repellendus
        excepturi aliquid modi cum inventore illum. Nisi dicta, provident quo
        debitis ab veniam dolore repudiandae quos vitae, aliquam culpa hic
        inventore suscipit tenetur illum quas vel. Iusto molestiae nihil fugit?
        Dolorem dolor, perferendis velit minima eos sit delectus commodi? Animi,
        voluptatibus! Praesentium obcaecati dolorem corrupti magni, expedita,
        eligendi suscipit facere sunt sequi incidunt consectetur, maxime
        accusantium deleniti reprehenderit eius laboriosam enim. Molestias
        minima pariatur consequuntur quam maxime, quaerat laudantium optio
        beatae nisi temporibus non aliquid ut amet eius placeat in
        necessitatibus sint. Reiciendis sed ullam exercitationem quia expedita
        sequi laudantium eaque totam voluptatum voluptatem quis esse eius
        aliquid, non ex animi velit, amet quo explicabo ipsa praesentium, a
        eligendi officiis nemo. Itaque, perferendis inventore pariatur ipsum
        saepe incidunt recusandae quos modi neque. Ut dignissimos architecto
        quas dolor sequi provident praesentium laboriosam sed, consequuntur
        officia ab reiciendis aperiam unde vitae nisi beatae neque veniam
        cupiditate! Tempora ipsa accusamus deleniti aperiam provident quia fuga
        sit numquam cumque? Consequuntur totam consequatur aut laboriosam
        recusandae asperiores modi expedita aspernatur maxime porro nulla quae,
        cumque laborum autem architecto consectetur sequi vitae. Neque omnis
        doloribus rerum beatae natus blanditiis veritatis possimus voluptatum
        saepe, quis, hic voluptatem nulla quibusdam corrupti quae recusandae.
        Eum, laborum at! Laborum aliquam minima rerum, incidunt iste saepe
        voluptatum cum impedit aut sint natus quisquam! Aliquid, temporibus
        quae. Incidunt dignissimos quam quos quis deserunt recusandae ducimus
        dolore nobis quibusdam exercitationem ipsum cupiditate excepturi est,
        repellat illo quisquam tempore magnam repudiandae? Delectus ipsam rem
        est magni minus ex sapiente. Voluptates suscipit fuga nihil a harum.
        Unde molestias placeat eum quia ullam quasi pariatur dolores laudantium
        mollitia rerum! Repudiandae hic, accusamus quaerat nobis et natus maxime
        suscipit atque eos architecto! A commodi optio et, eaque obcaecati
        dolorum cupiditate, aperiam ea quae praesentium nulla laudantium,
        accusamus totam voluptatum alias itaque temporibus rem error ipsam
        explicabo nostrum neque repellat excepturi. Maxime aliquam, doloribus
        culpa perspiciatis similique quibusdam consectetur.</p>
    </main>
  </body>
</html>