$font-family: 'Roboto', sans-serif;
$dark-orange: #ff3d00;
$light-orange: #ff9800;
$white: #fff;
$box-shadow-1: rgba(255, 61, 0, 0.2) 0px 7px 29px 0px;
$box-shadow-2: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$gradient: linear-gradient(to right, $dark-orange, $light-orange);
